.comment {
  display: flex;
  flex-direction: column;

  border-top: 1px solid;
}

.commentTopBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.commentName {
  font-weight: bold;
}

.deleteButton {
  align-self: center;
}

.commentDate {
  font-style: italic;
}